<p id="notice"><%= notice %></p>

<div class="main_blog_box">
  <h1>News And Shit!</h1>
  <br>
  <% @blogs.each do |blog| %>
    <%= simple_format(blog.title) %><br>
    <%= simple_format(blog.content) %>
    <% if current_user %>
      <%= link_to 'Show', blog %><
      <%= link_to 'Edit', edit_blog_path(blog) %><
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br><br>
  <% end %>
</div>
