<%= form_for(@playwright) do |f| %>
  <% if @playwright.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playwright.errors.count, "error") %> prohibited this playwright from being saved:</h2>

      <ul>
      <% @playwright.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= f.label :happening_now_title %></h2><br>
    <%= f.text_area :happening_now_title, class: "ckeditor" %>
  </div>
  <div class="field">
    <h2><%= f.label :happening_now_description %></h2><br>
    <%= f.text_area :happening_now_description, class: "ckeditor" %>
  </div>
  <div class="field">
    <h2>Attach Image For Whats Happening Now</h2>
    <%= f.file_field :happening_now_prod_still %>
  </div>
  <div class="field">
    <h2><%= f.label :coming_up_title %></h2><br>
    <%= f.text_area :coming_up_title, class: "ckeditor" %>
  </div>
  <div class="field">
    <h2><%= f.label :coming_up_description %></h2><br>
    <%= f.text_area :coming_up_description, class: "ckeditor" %>
  </div>
  <div class="field">
    <h2>Attach An Image For Whats Coming Up</h2>
    <%= f.file_field :up_coming_prod_still %>
  </div>
  <div class="field">
    <h2><%= f.label :press %></h2><br>
    <%= f.text_area :press, class: "ckeditor" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
