<p id="notice"><%= notice %></p>

<% if current_user %>
  <%= link_to 'NEW ENTRY', new_playwright_path %>
<% end %>

<nav class="navbar navbar-fixed-top">
  <div class="pw_nav_bar">
    <div class="pw_nav_bar_inner">
      <a href="/blog"><h3 class="pw_cherrye_home">CHERRYE DAVIS</h3></a>
      <li><h3 class="happening_now_menu">HAPPENING NOW</h3></li>
      <li><h3 class="happening_later_menu">HAPPENING LATER</h3></li>
      <a href="/blog"><h3 class="pw_back_home">HOME</h3></a>
    </div>
  </div>
</nav>
<div id="playwright_header">
  <h1>PLAYWRIGHT</h1>
</div>
<div id="pw_content">
  <div id="pw_now">
    <h1>HAPPENING NOW</h1>
    <% @playwrights.each do |playwright| %>
      <%= image_tag playwright.happening_now_prod_still.url(:medium) %>
      <h2>THE SHOW:</h2>
      <%= simple_format(playwright.happening_now_title) %>
      <h2>WHAT IT'S ABOUT:</h2>
      <%= simple_format(playwright.happening_now_description) %>
      <h2>PRESS:</h2>
      <%= simple_format(playwright.press) %>
      <% if current_user %>
        <%= link_to 'Show', playwright %>
        <%= link_to 'Edit', edit_playwright_path(playwright) %>
        <%= link_to 'Destroy', playwright, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </div>

  <div id="pw_later" class="pw_inactive">
    <h1>HAPPENING LATER</h1>
    <% @playwrights.each do |playwright| %>
      <%= image_tag playwright.up_coming_prod_still.url(:medium) %>
      <h2>THE SHOW:</h2>
      <%= simple_format(playwright.coming_up_title) %>
      <h2>WHAT IT'S ABOUT:</h2>
      <%= simple_format(playwright.coming_up_description) %>
      <% if current_user %>
        <%= link_to 'Show', playwright %>
        <%= link_to 'Edit', edit_playwright_path(playwright) %>
        <%= link_to 'Destroy', playwright, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </div>
</div>
