<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Title!</h3>
  <%= f.text_area :title, class: "ckeditor" %><br/>
  <h3>Caption!</h3>
  <%= f.text_area :caption, class: "ckeditor" %><br/>
  <h3>Put the link here!</h3>
  <%= f.text_area :url, placeholder: "Link!", rows: 8, cols: 75 %><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
