<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :title, placeholder: "Title!", rows: 3, cols: 40 %><br/>
  <%= f.text_area :url, placeholder: "Embed Link!", rows: 3, cols: 50 %><br/>
  <%= f.text_area :caption, placeholder: "Caption!", rows: 8, cols: 45 %><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
