<p id="notice"><%= notice %></p>
<% if current_user %>
  <%= link_to 'NEW VIDEO', new_video_path %>
<% end %>
<div class="videos_index">
  <br>
  <h1 class="media_video">Media/Videos</h1>
  <hr>
  <br>
  <% @videos.each do |video| %>
    <%= simple_format(video.title, class: "video_title") %>
    <%= embed(video.url) %>
    <%= simple_format(video.caption, class: "video_caption") %>
    <% if current_user %>
      <%= link_to 'Show', video %>
      <%= link_to 'Edit', edit_video_path(video) %>
      <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
  <% end %>
</div>
