<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><h3><%= simple_format(video.title) %></h3></td>
        <td><%= simple_format(video.caption) %></td>
        <td><%= embed(video.url) %></td>
        <% if current_user %>
          <td><%= link_to 'Show', video %></td>
          <td><%= link_to 'Edit', edit_video_path(video) %></td>
          <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
