<p id="notice"><%= notice %></p>

<h1>Listing Performances</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Caption</th>
      <th>Link to buy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performances.each do |performance| %>
      <tr>
        <td><%= simple_format(performance.title) %></td>
        <td><%= simple_format(performance.caption) %></td>
        <td><%= performance.link_to_buy %></td>
        <td><%= image_tag performance.perf_photo.url(:thumb) %></td>
        <% if current_user %>
          <td><%= link_to 'Show', performance %></td>
          <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
          <td><%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
