<p id="notice"><%= notice %></p>
<% if current_user %>
  <%= link_to 'NEW PERFORMANCE', new_performance_path %>
<% end %>
<h1 class="performance_header">PERFORMANCES BITCHES!!!</h1>
<br>
<% @performances.each do |performance| %>
  <hr>
  <div class="all_performances">
    <div class="performances_inner">
      <span class="indie_performance"><%= simple_format(performance.title) %></span>
      <span class="indie_performance"><%= simple_format(performance.caption) %></span>
      <span class="indie_performance"><%= image_tag performance.perf_photo.url(:thumb), class: "performance_photo" %></span>
      <button><span class="indie_performance performance_link"><a href="<%= performance.link_to_buy %>" target="_blank">Click Here To Buy</a></span></button>
      <% if current_user %>
        <%= link_to 'Show', performance %>
        <%= link_to 'Edit', edit_performance_path(performance) %>
        <%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <hr>
  <br>
<% end %>


<br>
