<%= form_for @image, url: images_path, html: {multipart: true} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new_image_form">
    <%= f.file_field :photo %>
    <br/>
    <div class="new_image_caption">
      <h3>Caption!</h3>
      <%= f.text_area :caption, class: "edit" %>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
