<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>


<div class="images_index">
  <% @images.each do |image| %>
    <%= image_tag image.photo.url(:medium) %>
    <% if current_user %>
      <%= link_to 'Show', image %>
      <%= link_to 'Edit', edit_image_path(image) %>
      <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <%end%>
</div>
