<p id="notice"><%= notice %></p>

<h1 class="images_header">PICTURES AND SHIT</h1>
<% @images.each do |image| %>
  <div class="images_index">
    <a href="<%= image.photo.url %>" data-lightbox="bender" %>"><img class="individual_image" src="<%= image.photo.url(:medium) %>"></a>

    <% if current_user %>
      <%= link_to 'Show', image %>
      <%= link_to 'Edit', edit_image_path(image) %>
      <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<%end%>
