<p id="notice"><%= notice %></p>

<%= image_tag @image.photo.url %>
<%= image_tag @image.photo.url(:medium) %>
<%= image_tag @image.photo.url(:thumb) %>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', images_path %>
