<!DOCTYPE html>
<html>
<head>
  <title>CherryeSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>
  <% if request.original_url.ends_with?('/blog') || request.original_url.ends_with?('/images') || request.original_url.ends_with?('/videos') || request.original_url.ends_with?('/performances') || request.original_url.ends_with?('/bio') %>
    <div class="nav_bar">
      <ul class="nav_bar_inner">
        <li class="menu_bar"><a href="/blog">BLOG</a></li>
        <li class="menu_bar"><a href="/images">Pictures</a></li>
        <li class="menu_bar"><a href="/videos">Video</a></li>
        <li class="menu_bar"><a href="/performances">Performances</a></li>
        <li class="menu_bar"><a href="/bio">BIO</a></li>
        <i class="fa fa-bars fa-2x"></i>
      </ul>
    </div>
  <% elsif request.original_url.ends_with?('/playwright') %>
    <h1><a href="/blog">HOME</a></h1>
  <% else %>
  <% end %>
  <% if current_user %>
    Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
  <% end %>

  <div id="overlay-back"></div>
  <div id="overlay"><a class='playwright_link' href="/playwright">PLAYWRIGHT</a></div>
<%= yield %>

</body>
</html>
