<!DOCTYPE html>
<html>
<head>
  <title>CherryeSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav_bar">
    <ul class="nav_bar_inner">
      <li class="menu_bar"><a href="/blog">BLOG</a></li>
      <li class="menu_bar"><a href="/images">Pictures</a></li>
      <li class="menu_bar"><a href="/videos">Video</a></li>
      <li class="menu_bar"><a href="/performances">Performances</a></li>
    </ul>
  </div>
  <% if current_user %>
    Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
  <% end %>
<%= yield %>

</body>
</html>
